<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CastReporting.Mediation.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CastReporting.Mediation.Properties.Settings>
            <setting name="TimeoutQuick" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="TimeoutStandard" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="TimoutLong" serializeAs="String">
                <value>320000</value>
            </setting>
        </CastReporting.Mediation.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
