<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CastReporting.Repositories.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="CastReporting.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CastReporting.Repositories.Properties.Settings>
            <setting name="ProductName" serializeAs="String">
                <value>ReportGenerator</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Cast</value>
            </setting>
            <setting name="TemplateExtensions" serializeAs="String">
                <value>.docx,.pptx,.potx,.xlsx</value>
            </setting>
            <setting name="SettingFileName" serializeAs="String">
                <value>CastReportingSetting.xml</value>
            </setting>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>Templates</value>
            </setting>
        </CastReporting.Repositories.Properties.Settings>
        <CastReporting.DAL.Properties.Settings>
            <setting name="WSVersion" serializeAs="String">
                <value>0.9.4</value>
            </setting>
        </CastReporting.DAL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
