<?xml version="1.0"?>
<configuration>
    <configSections>

      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CastReporting.UI.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
     
  
  <log4net configSource="log4net.config"/>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  

  <appSettings>
      <add key="log4net.Internal.Debug" value="false"/>
  </appSettings>
  
  <applicationSettings>
    <CastReporting.UI.WPF.Properties.Settings>
      <setting name="Cultures" serializeAs="String">
        <value>fr-FR;en-US;es-ES;IT-it;DE-de</value>
      </setting>
    </CastReporting.UI.WPF.Properties.Settings>
  </applicationSettings>
</configuration>
